/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 // reduce bulma footer size
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
}

// to keep footer on bottom
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

// center content on screen
.columns {
  justify-content: center;
}

// push down search bar from top of screen
.search.section {
  margin-top: 5vh;
}

// pull up no results section to search bar
.noresults.section {
  margin-top: -35vh;
}
